<div class="flex flex-col max-h-screen -m-6 overflow-hidden w-200 lg:w-260   xl:w-290">
    <div class="flex items-center justify-between py-2 pl-6 pr-3 flex-0 sm:pr-5 sm:pl-8 bg-primary" mat-dialog-title>
        <div class="text-lg font-medium text-white head-modal">
            Cập nhật bồi dưỡng ngắn hạn
        </div>
        <button mat-icon-button mat-dialog-close [tabIndex]="-1" (click)="close()">
            <i class="fa-light fa-xmark icon-size-5"></i>
        </button>
    </div>

    <div class="flex flex-col px-4 pt-4" mat-dialog-content>
        <div style="overflow-y: scroll; max-height: 500px;">

        
            <form  id="boiduongForm">
                <div class="flex items-center w-full">
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full">
                        <mat-label >Trường đào tạo</mat-label>
                        <input matInput placeholder="" name="truongDaotao" (click)="onTruongDT()" [ngModel]="boiDuongSelected.tentruongDt" />
                    </mat-form-field>                             
                </div>

                <div class="flex items-center w-full mb-4">
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full">
                        <mat-label class=" sm:w-1/4 leading-none -mr-1">Nội dung đào tạo</mat-label>
                        <input matInput placeholder="" name="noiDung"  [ngModel]="boiDuongSelected.noidungdaotao"  />
                    </mat-form-field>
                </div>
                
                <div class="flex items-center w-full mb-4">      
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Ngoại ngữ</mat-label>
                        <mat-checkbox matInput class="example-margin" color="primary" [checked]="boiDuongSelected.ngoainguId != null">                            
                        </mat-checkbox>                                        
                        <mat-select name="ngoaiNgu" [value]="boiDuongSelected.ngoainguId" [ngModel]="boiDuongSelected.ngoainguId">                        
                            <mat-option *ngFor="let item of ngoaiNguList"  [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Chứng chỉ</mat-label>
                        <mat-select name="chungChi" [value]="boiDuongSelected.trinhdongoainguId" [ngModel]="boiDuongSelected.trinhdongoainguId">
                            <mat-option *ngFor="let item of trinhdoNNList"  [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                    
                </div>

                <div class="flex items-center w-full mb-4">      
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Chứng chỉ có thời hạn, số</mat-label>
                        <mat-checkbox matInput class="example-margin" color="primary" [checked]="boiDuongSelected.ccSo != null">                            
                        </mat-checkbox>                                                                
                        <input matInput placeholder="" name="chungchiSo"  [ngModel]="boiDuongSelected.ccSo"/>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Ngày cấp</mat-label>                        
                        <input matInput [matDatepicker]="ccNgaycap" name="ccNgaycap" [ngModel]="boiDuongSelected.ccNgaycap" />
                        <mat-datepicker-toggle matSuffix [for]="ccNgaycap"></mat-datepicker-toggle>
                        <mat-datepicker #ccNgaycap></mat-datepicker>
                    </mat-form-field>                    
                </div>

                <div class="flex items-center w-full mb-4">      
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Đã nộp chứng chỉ bản cứng</mat-label>
                        <mat-checkbox matInput class="example-margin" color="primary" [checked]="boiDuongSelected.nopketqua">                            
                        </mat-checkbox>                     
                        <input matInput placeholder=""/>                                           
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Ngày hết hạn</mat-label>                        
                        <input matInput [matDatepicker]="ccNgayHH" name="ngayKy" [ngModel]="boiDuongSelected.ccNgayHH" />
                        <mat-datepicker-toggle matSuffix [for]="ccNgayHH"></mat-datepicker-toggle>
                        <mat-datepicker #ccNgayHH></mat-datepicker>
                    </mat-form-field>                    
                </div>

                <div class="flex items-center w-full mb-4">
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full">
                        <mat-label class=" sm:w-1/4 leading-none -mr-1">Xếp loại</mat-label>
                        <mat-select name="xepLoai" [value]="boiDuongSelected.xeploaiId" [ngModel]="boiDuongSelected.xeploaiId">
                            <mat-option *ngFor="let item of xepLoaiList"  [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                    
                </div>


                <div class="flex items-center w-full mb-4">
                    <div class="mat-field-label">Văn bằng đính kèm</div>
                    <p-fileUpload #fileForm accept="image/*,.doc,.docx,.pdf,.xls,.xlsx" class="w-full text-base"
                        chooseLabel="Chọn" cancelLabel="Hủy" [customUpload]="true"
                        [maxFileSize]="102400000" 
                        (onSelect)="myUploaderVB($event, fileForm)">
                        <ng-template pTemplate="content">
                            <div>
                                <div *ngIf="vanbangFile.fileAttach" class="flex items-center justify-between w-full md:w-auto mt-2">
                                    <div class="fuse-mat-no-subscript w-2/5">
                                        <div class="mat-field-label truncate ">
                                            {{vanbangFile.fileName}}
                                        </div>
                                    </div>
        
                                    <div class="fuse-mat-no-subscript w-1/5">
                                        <div class="mat-field-label ">
                                            {{vanbangFile.fileSize}}
                                            bytes</div>
                                    </div>
        
                                    <div class="flex justify-end w-1/5">
                                        <!-- <p-button icon="pi pi-times" (click)></p-button> -->
                                        <button pButton icon="fa-light fa-trash-can" type="button"
                                            ></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-file pTemplate="file">
                            <div class="flex items-center justify-between w-full md:w-auto mt-2">
                                <div class="fuse-mat-no-subscript w-2/5">
                                    <div class="mat-field-label truncate ">{{file.name}}</div>
                                </div>

                                <div class="fuse-mat-no-subscript w-1/5">
                                    <div class="mat-field-label ">{{file.size}} bytes</div>
                                </div>

                                <div class="flex justify-end w-1/5">
                                    <!-- <p-button icon="pi pi-times" (click)></p-button> -->
                                    <button pButton icon="pi pi-times" type="button"
                                    (click)="removeFileVB(file, fileForm, $event)"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>






                <div class="flex items-center w-full mb-4">      
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Hình thức đào tạo</mat-label>
                        <mat-select name="hinhThucDT" [value]="boiDuongSelected.hinhthucDtId" [ngModel]="boiDuongSelected.hinhthucDtId">
                            <mat-option *ngFor="let item of hthucDtaoList"  [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Nước ngoài</mat-label>
                        <mat-checkbox matInput class="example-margin" color="primary" [checked]="boiDuongSelected.quocgiaId != null">                            
                        </mat-checkbox>                                        
                        <mat-select name="nuocNgoai" [value]="boiDuongSelected.quocgiaId" [ngModel]="boiDuongSelected.quocgiaId">                        
                            <mat-option *ngFor="let item of quocGiaList"  [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex items-center w-full mb-4">
                    <mat-form-field class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Thời gian đào tạo từ </mat-label>                    
                        <input matInput [matDatepicker]="ngayDT" name="ngayDT" [ngModel]="boiDuongSelected.tungay"/>
                        <mat-datepicker-toggle matSuffix [for]="ngayDT"></mat-datepicker-toggle>
                        <mat-datepicker #ngayDT></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>đến</mat-label>
                        <input matInput [matDatepicker]="denNgayDT" name="denNgayDT" [ngModel]="boiDuongSelected.denngay"/>
                        <mat-datepicker-toggle matSuffix [for]="denNgayDT"></mat-datepicker-toggle>
                        <mat-datepicker #denNgayDT></mat-datepicker>
                    </mat-form-field>                
                </div>

                <div class="flex items-center w-full">   
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full">                        
                        <input matInput placeholder="Thuộc danh mục đào tạo" name="dmDaotao" [ngModel]="dmDaotaoSelected.name" (click)="onThuocDmDaotao()"/>
                    </mat-form-field>               
                </div>

                <div class="flex items-center w-full mb-4"> 
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Đơn vị trả phí</mat-label>
                        <mat-checkbox matInput class="example-margin" color="primary"></mat-checkbox>
                        <input matInput placeholder="Đơn vị trả phí" name="donviTraphi" [ngModel]="boiDuongSelected.tilytra"/>%
                    </mat-form-field>                
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label class=" sm:w-1/4 leading-none -mr-1">Giá trị</mat-label>
                        <input matInput placeholder="Giá trị" name="giaTri" [ngModel]="boiDuongSelected.sotientra"/> (VNĐ)
                    </mat-form-field>               
                </div>

                <div class="flex items-center w-full mb-4"> 
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Cam kết đào tạo</mat-label>
                        <mat-checkbox matInput class="example-margin" color="primary" [checked]="boiDuongSelected.sothangcamket!=null"></mat-checkbox>
                        <input matInput placeholder="Cam kết đào tạo" name="camketDaotao" [ngModel]="boiDuongSelected.sothangcamket"/>tháng
                    </mat-form-field>                

                    <mat-checkbox matInput class="fuse-mat-no-subscript w-2/4 mr-2" color="primary" [checked]="boiDuongSelected.giohanhchinh!=null">
                        <b>Đào tạo trong giờ làm việc</b>
                    </mat-checkbox>
                    
                </div>                


                <div class="flex items-center w-full mb-4">
                    <mat-form-field class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Số quyết định</mat-label>
                        <input matInput name="soQD" placeholder="" [ngModel]="quyetdinh.soQd"/>
                        <button class="mx-1 -mr-2" color="primary" mat-flat-button (click)="onChonQuyetDinh()">
                            <span class="ml-2">Chọn</span>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Ngày ký</mat-label>
                        <input matInput [matDatepicker]="ngayKy" name="ngayKy" [ngModel]="quyetdinh.ngayKy" />
                        <mat-datepicker-toggle matSuffix [for]="ngayKy"></mat-datepicker-toggle>
                        <mat-datepicker #ngayKy></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="flex items-center w-full mb-4">
                    <mat-form-field class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Người ký </mat-label>
                        <input name="nguoiky" matInput placeholder="Chọn người ký" (click)="onChonNgKy()" readonly [ngModel]="quyetdinh.nguoiky">   
                        <i *ngIf="quyetdinh.nguoiky" class="fa-light fa-xmark icon-size-5"
                            (click)="onDeleteNgKy()"></i>                 
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-no-subscript w-2/4 mr-2">
                        <mat-label>Chức vụ </mat-label>
                        <mat-select name="chucvu"  [value]="quyetdinh.chucvuKy" >
                            <mat-option *ngFor="let item of chucVuList"  [value]="item.name">
                            {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex items-center w-full mb-4">
                    <mat-form-field appearance="fill" class="fuse-mat-no-subscript w-full">
                        <mat-label class=" sm:w-1/4 leading-none -mr-1">Nội dung </mat-label>
                        <input matInput placeholder="" name="noiDung"  [ngModel]="quyetdinh.noiDung"  />
                    </mat-form-field>
                </div>

                <div class="flex items-center w-full mb-4">
                    <div class="mat-field-label">File quyết định:</div>
                    <p-fileUpload #fileForm accept="image/*,.doc,.docx,.pdf,.xls,.xlsx" class="w-full text-base"
                        chooseLabel="Chọn" cancelLabel="Hủy" [customUpload]="true"
                        [maxFileSize]="102400000" 
                        (onSelect)="myUploaderQD($event, fileForm)">
                        <ng-template pTemplate="content">
                            <div>
                                <div *ngIf="quyetdinh.fileAttach" class="flex items-center justify-between w-full md:w-auto mt-2">
                                    <div class="fuse-mat-no-subscript w-2/5">
                                        <div class="mat-field-label truncate ">
                                            {{quyetdinh.fileName}}
                                        </div>
                                    </div>
        
                                    <div class="fuse-mat-no-subscript w-1/5">
                                        <div class="mat-field-label ">
                                            {{quyetdinh.fileSize}}
                                            bytes</div>
                                    </div>
        
                                    <div class="flex justify-end w-1/5">
                                        <!-- <p-button icon="pi pi-times" (click)></p-button> -->
                                        <button pButton icon="fa-light fa-trash-can" type="button"
                                            ></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-file pTemplate="file">
                            <div class="flex items-center justify-between w-full md:w-auto mt-2">
                                <div class="fuse-mat-no-subscript w-2/5">
                                    <div class="mat-field-label truncate ">{{file.name}}</div>
                                </div>

                                <div class="fuse-mat-no-subscript w-1/5">
                                    <div class="mat-field-label ">{{file.size}} bytes</div>
                                </div>

                                <div class="flex justify-end w-1/5">
                                    <!-- <p-button icon="pi pi-times" (click)></p-button> -->
                                    <button pButton icon="pi pi-times" type="button"
                                    (click)="removeFileQD(file, fileForm, $event)"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>                
            </form>
        </div>
    </div>

    <div mat-dialog-actions [align]="'end'" class="py-2 pr-6">        
        <button class="mx-1 button-green" mat-flat-button (click)="saveAndClose()">            
            <span class="ml-2">Lưu</span>
        </button>
        <button class="mx-1 button-red" mat-flat-button (click)="close()">            
            <span class="ml-2">Đóng</span>
        </button>
    </div>


</div>

