<form
  name="registerForm"
  #registerForm="ngForm"
  (ngSubmit)="registerForm.form.valid && saveAndClose()"
  class="flex flex-col max-w-310 md:min-w-310 overflow-hidden max-h-[90vh]"
>
  <!-- Header -->
  <div
    class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
  >
    <div class="text-lg font-medium head-modal">
      <span class="text-white">Cập nhật đánh giá</span>
    </div>
    <button mat-icon-button [tabIndex]="-1" (click)="close()">
      <i class="fa-light fa-xmark icon-size-5 text-xl text-white"></i>
    </button>
  </div>

  <div
    #mainns
    class="flex flex-col flex-auto h-modal max-h-200 overflow-y-auto"
  >
    <div class="mt-5">
      <h2 class="text-blue-500 border-b text-lg ml-2 mb-3">
        Đánh giá của nhân viên
      </h2>
      <div class="grid grid-cols-2 gap-4 px-4">
        <div class="">
          <div class="mat-field-label">Đợt đánh giá</div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            optionLabel="name"
            optionValue="id"
            name="vtricdanh"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [required]="true"
            placeholder="&nbsp;"
          >
          </p-dropdown>
        </div>
        <div class="">
          <div class="mat-field-label">Họ và tên</div>
          <input pInputText class="w-full" [disabled]="true" />
        </div>

        <div class="flex flex-col justify-center">
          <div class="mat-field-label">Thời gian đánh giá</div>
          <div class="flex items-center gap-2">
            <p-calendar
              name="tgDanhGia"
              [showIcon]="true"
              [showOnFocus]="false"
              class="!w-full"
              placeholder="Từ ngày"
            />
            <p-calendar
              name="tgDanhGia"
              [showIcon]="true"
              [showOnFocus]="false"
              class="!w-full"
              placeholder="Đến ngày"
            />
          </div>
        </div>

        <div class="flex flex-col justify-center">
          <div class="mat-field-label">Thời hạn</div>
          <p-calendar
            name="tgDanhGia"
            [showIcon]="true"
            [showOnFocus]="false"
            class="!w-full"
            placeholder="Từ ngày"
          />
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h2 class="text-blue-500 border-b text-lg ml-2 mb-3">Đánh giá chung</h2>
      <div class="grid grid-cols-2 gap-4 px-4">
        <div class="">
          <div class="mat-field-label">Nhận xét</div>
          <textarea rows="3" class="w-full border rounded-md"></textarea>
        </div>

        <div class="">
          <div class="mat-field-label">Cá nhân đánh giá</div>
          <textarea rows="3" class="w-full border rounded-md"></textarea>
        </div>

        <div class="">
          <div class="mat-field-label">Cá nhân xếp loại</div>
          <textarea rows="3" class="w-full border rounded-md"></textarea>
        </div>

        <div class="">
          <div class="mat-field-label">Điểm mạnh</div>
          <textarea rows="3" class="w-full border rounded-md"></textarea>
        </div>

        <div class="">
          <div class="mat-field-label">Hạn chế</div>
          <textarea rows="3" class="w-full border rounded-md"></textarea>
        </div>

        <div class="">
          <div class="mat-field-label">Cần cải thiện</div>
          <textarea rows="3" class="w-full border rounded-md"></textarea>
        </div>

        <div>
          <div class="mat-field-label">Điểm</div>
          <input name="diem" type="number" class="border rounded-md py-1" />
        </div>

        <div></div>

        <div>
          <div class="mat-field-label">Xếp loại</div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            optionLabel="name"
            optionValue="id"
            name="xepLoai"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [required]="true"
            placeholder="&nbsp;"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h2 class="text-blue-500 border-b text-lg ml-2 mb-3">
        Áp dụng kết quả đánh giá
      </h2>
      <div class="grid grid-cols-2 gap-4 px-4">
        <div>
          <div class="mat-field-label">Kết quả tăng lương</div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            optionLabel="name"
            optionValue="id"
            name="kqTangLuong"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [required]="true"
            placeholder="&nbsp;"
          >
          </p-dropdown>
        </div>
        <div>
          <div class="mat-field-label">Kết quả thưởng</div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            optionLabel="name"
            optionValue="id"
            name="kqThuong"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [required]="true"
            placeholder="&nbsp;"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-0 items-center justify-end h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 mt-2 text-on-primary"
  >
    <div mat-dialog-actions class="h-toolbar flex justify-end">
      <button
        type="submit"
        class="mx-1 button-green px-3 py-2 mr-8 rounded-md bg-slate-200 hover:bg-slate-300"
        mat-flat-button
        [disabled]="isLockform"
      >
        <i class="fa-light fa-check icon-size-5 text-green-500"></i>
        <span class="ml-2">Lưu</span>
      </button>
      <button
        class="mx-1 button-blue px-3 py-2 mr-8 rounded-md bg-slate-200 hover:bg-slate-300"
        mat-flat-button
        (click)="nhapTiep()"
      >
        <i class="fa-light fa-arrow-right icon-size-5 text-blue-500"></i>
        <span class="ml-2">Nhập tiếp</span>
      </button>
    </div>
  </div>
</form>
