<div class="flex flex-col w-160 md:min-w-160 max-h-screen">
  <!-- Header -->
  <div
    class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
  >
    <div class="text-lg font-medium text-white">{{ title }}</div>
    <button
      class="button-icon"
      mat-icon-button
      (click)="click(Button.Closed)"
      [tabIndex]="-1"
    >
      <i class="fal fa-times text-current icon-size-5 text-white"></i>
    </button>
  </div>

  <!-- Compose form -->
  <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
    <!-- To -->
    <div>{{ message }}</div>
  </div>
  <div class="flex items-center m-6 justify-center">
    <div
      class="flex items-center justify-center"
      *ngIf="buttons === Buttons.Ok"
    >
      <button
        style="width: 102.38px"
        pButton
        type="button"
        class="p-button-success p-button-sm mr-8"
        (click)="click(Button.Ok)"
      >
        <i class="fal fa-check-circle text-green-500"></i>
        <span class="ml-2">Đồng ý</span>
      </button>
    </div>

    <div
      class="flex items-center justify-center"
      *ngIf="buttons === Buttons.YesNo"
    >
      <button
        class="mx-2 button-green py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.Yes)"
      >
        <i class="fal fa-check-circle text-green-500"></i>
        <span class="ml-2">Đồng ý</span>
      </button>
      <button
        class="mx-2 button-red py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.No)"
      >
        <i class="fal fa-ban text-red-500"></i>
        <span class="ml-2">Hủy bỏ</span>
      </button>
    </div>
    <div
      class="flex items-center justify-center"
      *ngIf="buttons === Buttons.YesDelNo"
    >
      <button
        class="mx-2 button-green py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.Yes)"
      >
        <i class="fal fa-check-circle"></i>
        <span class="ml-2">Thu hồi</span>
      </button>
      <button
        class="mx-2 button-black py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.Del)"
      >
        <i class="fal fa-minus-circle"></i>
        <span class="ml-2">Xóa</span>
      </button>
      <button
        class="mx-2 button-red py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.No)"
      >
        <i class="fal fa-ban"></i>
        <span class="ml-2">Hủy bỏ</span>
      </button>
    </div>
    <div
      class="flex items-center justify-center"
      *ngIf="buttons === Buttons.YesNoClosed"
    >
      <button
        class="mx-2 button-green py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.Yes)"
      >
        <i class="fal fa-check-circle"></i>
        <span class="ml-2">Đồng ý</span>
      </button>
      <button
        class="mx-2 button-red py-2 px-3 bg-gray-200 hover:bg-gray-300 rounded-md border-gray-300"
        mat-flat-button
        (click)="click(Button.No)"
      >
        <i class="fal fa-minus-circle"></i>
        <span class="ml-2">Không</span>
      </button>
      <!-- <button class="mx-2 button-red" mat-flat-button (click)="click(Button.Closed)">
                <i class="fal fa-ban"></i>
                <span class="ml-2">Thoát</span>
            </button> -->
    </div>
  </div>
</div>
