<form id="rightForm" (ngSubmit)="rightForm.form.valid && onSave()" #rightForm="ngForm"
    class="flex flex-col max-w-310 md:min-w-310 overflow-hidden max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium head-modal">
            <span>Điều động luân chuyển</span>
        </div>
        <button mat-icon-button [tabIndex]="-1" (click)="onClose()">
            <i class="fa-light fa-xmark icon-size-5"></i>
        </button>
    </div>

    <div #mainns class="flex flex-col flex-auto h-modal max-h-130 overflow-y-hidden">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-3 gap-x-8 w-full min-w-0 p-6 overflow-y-auto">
            <!-- <div class="mat-field-label">Số quyết định<span class="font-bold text-red-500 text-lg">*</span></div> -->
            <mat-form-field class="fuse-mat-no-subscript">
                <mat-label class="">Số quyết định </mat-label>
                <input matInput name="soqd" [(ngModel)]="data.soQd" (change)="openSoQDbyTxt($event)" placeholder=""
                    required />
                <button type="button" class="mx-1 -mr-2" (click)="onChonQuyetDinh()" color="primary" mat-flat-button>
                    <span>Chọn</span>
                </button>
            </mat-form-field>


            <mat-form-field class="fuse-mat-no-subscript">
                <mat-label class="">Ngày ký</mat-label>
                <input matInput [matDatepicker]="ngayky" [(ngModel)]="data.ngayky" name="ngayky" />
                <mat-datepicker-toggle matSuffix [for]="ngayky"></mat-datepicker-toggle>
                <mat-datepicker #ngayky></mat-datepicker>
            </mat-form-field>

            <div class="flex flex-col justify-center">
                <div class="mat-field-label">Người ký</div>
                <p-autoComplete name="nguoiky" [style]="{ width: '100%'}" [(ngModel)]="nguoikyQdBean"
                    [suggestions]="filteredNguoikyQd" (completeMethod)="searchNguoiky($event)" [completeOnFocus]="true"
                    field='name' [dropdown]="true" dataKey='id' (onSelect)="onSelectNguoiKy($event)">
                </p-autoComplete>
            </div>

            <div class="flex flex-col justify-center">
                <div class="mat-field-label">Chức vụ</div>
                <p-autoComplete name="chucvu" [style]="{ width: '100%'}" [(ngModel)]="chucvuQdBean"
                    [suggestions]="filteredChucvuQd" (completeMethod)="search($event)" field='name' [dropdown]="true"
                    dataKey='id'>
                </p-autoComplete>
            </div>

            <div class="flex flex-col justify-center col-span-2">
                <div class="mat-field-label">Nội dung</div>
                <mat-form-field class="fuse-mat-no-subscript w-full">

                    <input matInput type="text" [(ngModel)]="data.noidung" id="noidung" name="noidung">
                </mat-form-field>
            </div>

            <div class="flex flex-col justify-center col-span-2">
                <div class="mat-field-label">Văn bản đính kèm</div>
                <p-fileUpload #fileForm accept="image/*,.doc,.docx,.pdf,.xls,.xlsx" class="w-full text-base"
                    chooseLabel="Chọn" cancelLabel="Hủy" [customUpload]="true" [maxFileSize]="102400000"
                    (onSelect)="myUploader($event, fileForm)">
                    <ng-template pTemplate="content">
                        <div>
                            <div *ngIf="data.fileAttach && !data.fileAttach?.deleted"
                                class="flex items-center justify-between w-full md:w-auto mt-2">
                                <div class="fuse-mat-no-subscript w-2/5">
                                    <div class="mat-field-label truncate ">{{data.fileAttach.fileName}}</div>
                                </div>

                                <div class="fuse-mat-no-subscript w-1/5">
                                    <div class="mat-field-label ">{{data.fileAttach.fileSize}} bytes</div>
                                </div>

                                <div class="flex justify-end w-1/5">

                                    <button type="button" class="mr-2" (click)="taiFiledinhkem(data)">
                                        <i class="fa-light fa-download icon-size-5" matTooltip="Tải"></i>
                                    </button>

                                    <button pButton icon="fa-light fa-trash-can" type="button"
                                        (click)="deleteFile(data.fileAttach)"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </p-fileUpload>
            </div>

            <div class="flex flex-col justify-center">
                <div class="mat-field-label">Từ đơn vị</div>
                <mat-form-field class="fuse-mat-no-subscript w-full">

                    <input matInput type="text" [(ngModel)]="data.donvidi" [matTooltip]="data.donvidi" id="tudonvi"
                        name="tudonvi" readonly>
                </mat-form-field>
            </div>

            <div class="flex flex-col justify-center">
                <div class="mat-field-label">Bộ phận</div>
                <mat-form-field class="fuse-mat-no-subscript w-full">

                    <input matInput type="text" [(ngModel)]="data.phongdi" [matTooltip]="data.phongdi" id="phongdi"
                        name="phongdi" readonly>
                </mat-form-field>
            </div>

            <div class="flex flex-col ">
                <div class="mat-field-label">Chuyển đến</div>
                <div>
                    <p-checkbox class="pl-2 mr-1" [(ngModel)]="isnotnoibo" (onChange)="onCheckSangdvikhac()"
                        name="chuyendonvikhac" [binary]="true" inputId="chuyendonvikhac" [disabled]="noedit">
                    </p-checkbox>
                    <label for="isnow">Chuyển sang đơn vị khác</label>

                    <p-radioButton class="mr-1 ml-3" name="trongnganh" [(ngModel)]="trongnghanh" [value]="true"
                        [disabled]="noedit == true ? noedit : !disableChucdanhmoi" inputId="trongnganh"></p-radioButton>
                    <label for="trongnganh">Trong ngành</label>

                    <p-radioButton class="ml-2 mr-1" name="trongnganh" [(ngModel)]="trongnghanh" [value]="false"
                        [disabled]="noedit == true ? noedit : !disableChucdanhmoi" inputId="ngoainganh"></p-radioButton>
                    <label for="ngoainganh">Ngoài ngành</label>

                    <div>
                        <p-checkbox class="pl-2 self-center mr-1" [(ngModel)]="data.isChamduthdld" name="cochamdut"
                            [disabled]="noedit == true ? noedit : !disableChucdanhmoi" [binary]="true" inputId="cochamdut">
                        </p-checkbox>
                        <label for="isnow">Có chấm dứt HĐLĐ</label>
                    </div>
                </div>

            </div>

            <div class="flex justify-start">
                <div class="flex flex-col mr-2">
                    <label class="font-bold">Loại giảm</label>
                    <label class="">(Biểu tăng giảm)</label>
                </div>
                <div class="flex flex-col">
                    <label class="">&nbsp;</label>
                    <div class="flex">
                        <p-radioButton class="mr-1" name="bietphai" [(ngModel)]="bietphai" [value]="true"
                            [disabled]="noedit == true ? noedit : !disableChucdanhmoi" inputId="bietphai"></p-radioButton>
                        <label for="bietphai">Điều động biệt phái đi đơn vị khác</label>
                    </div>
                    <div class="flex">
                        <p-radioButton class="mr-1" name="bietphai" [(ngModel)]="bietphai" [value]="false"
                            [disabled]="noedit == true ? noedit : !disableChucdanhmoi" inputId="chamduthdld"></p-radioButton>
                        <label for="chamduthdld">Chấm dứt HĐLĐ thông thường</label>
                    </div>
                </div>
            </div>

            <div class="flex items-end">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label class="">Đơn vị đến</mat-label>
                    <input matInput type="text" name="donviden" placeholder="" [(ngModel)]="data.donviden"
                        [matTooltip]="data.donviden" readonly [required]="disableChucdanhmoi" />

                    <button class="mx-1 -mr-2" type="button" (click)="onChondviDen()" [disabled]="noedit == true ? noedit : !disableChucdanhmoi"
                        color="primary" mat-flat-button>
                        <span>Chọn</span>
                    </button>
                </mat-form-field>

            </div>
            <div class="flex items-end">
                <div class="mat-field-label">Bộ phận đến<span *ngIf="isnotnoibo == false ? !isnotnoibo : !disableChucdanhmoi" class="font-bold text-red-500 text-lg">*</span></div>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    
                    <input matInput type="text" name="phongden" [(ngModel)]="data.phongden" [matTooltip]="data.phongden"
                        placeholder="" readonly [required]="!disableChucdanhmoi" />
                    <button class="mx-1 -mr-2" type="button" color="primary" [disabled]="disableChucdanhmoi"
                        (click)="onChonphongban()" mat-flat-button>
                        <span>Chọn</span>
                    </button>
                </mat-form-field>

            </div>

            <div class="flex flex-col">
                <div class="flex">
                    <p-checkbox [(ngModel)]="data.isChucdanhmoi" name="chucdanhmoi" (onChange)="onCheckChucdanhmoi()"
                        [disabled]="noedit == true ? noedit : disableChucdanhmoi" [binary]="true" inputId="chucdanhmoi">
                    </p-checkbox>
                    <div style="line-height: normal;" class="mat-field-label ml-1" for="isnow">Chức danh mới</div>
                </div>

                <p-dropdown class="mt-1" panelStyleClass="max-w-full" [style]="{ width: '100%'}"
                    [options]="listChucdanh" optionLabel="name" optionValue="id" name="chucdanh" appendTo="body"
                    [filter]="true" filterBy="name" [(ngModel)]="data.vtriId" [disabled]="noedit == true ? noedit : !data.isChucdanhmoi"
                    placeholder="&nbsp;">
                </p-dropdown>
            </div>

            <div class="flex">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label class="">Thời hạn bổ nhiệm (Năm)</mat-label>
                    <input matInput [(ngModel)]="data.thoihan" [disabled]="noedit" placeholder="" />
                </mat-form-field>
            </div>


            <mat-form-field class="fuse-mat-no-subscript w-full self-end">
                <mat-label class="">Ngày hiệu lực</mat-label>
                <input matInput [matDatepicker]="ngayhieuluc" [(ngModel)]="data.ngayhieuluc" [disabled]="noedit" name="ngayhieuluc"
                    required />
                <mat-datepicker-toggle matSuffix [for]="ngayhieuluc"></mat-datepicker-toggle>
                <mat-datepicker #ngayhieuluc ></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="fuse-mat-no-subscript row-span-2" appearance="fill">
                <mat-label class="">Lý do</mat-label>
                <textarea name="lydo" matInput placeholder="" [(ngModel)]="data.lydo" [disabled]="noedit" rows="2"></textarea>
            </mat-form-field>

            <div class="flex flex-col justify-center">
                <div class="flex items-center mb-2">
                    <p-checkbox class="pl-2 self-center mr-1" [(ngModel)]="data.isTamthoi" [disabled]="noedit" name="ddtamthoi"
                        [binary]="true" inputId="ddtamthoi">
                    </p-checkbox>
                    <label class="mat-field-label" for="ddtamthoi">Điều động tạm thời</label>
                </div>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label class="">Ngày kết thúc</mat-label>
                    <input matInput [matDatepicker]="ngayketthuc" [(ngModel)]="data.ngaykt" [disabled]="noedit" name="ngayketthuc"
                        [disabled]="!data.isTamthoi" />
                    <mat-datepicker-toggle matSuffix [for]="ngayketthuc"></mat-datepicker-toggle>
                    <mat-datepicker #ngayketthuc [disabled]="noedit"></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- <mat-form-field class="fuse-mat-no-subscript">
                <mat-label class="">Lý do</mat-label>
                <input matInput name="lydo" [(ngModel)]="data.lydo" placeholder="" />
            </mat-form-field> -->



        </div>
    </div>

    <div class="flex flex-0 items-center justify-end h-12 mr-2 pr-3 pl-6 sm:pl-8 mt-2 text-on-primary">
        <div mat-dialog-actions class="h-toolbar flex justify-end">
            <button type="submit" class="mx-1 button-green" mat-flat-button>
                <i class="fa-light fa-check icon-size-5"></i>
                <span class="ml-2">Lưu</span>
            </button>

        </div>
    </div>

</form>