<div class="flex justify-between items-center">
  <p-divider align="left">
    <div class="inline-flex align-items-center justify-between">
      <b class="text-blue-600">Quá trình làm việc tại đơn vị</b>
    </div>
  </p-divider>
  <div>
    <button
      mat-flat-button
      type="button"
      class="px-4 button-primary mr-2"
      (click)="xuatExcel()"
    >
      <i class="fa-regular fa-file-excel" matTooltip="Xuất excel"></i>
    </button>
    <button
      mat-flat-button
      type="button"
      class="px-4 button-primary"
      (click)="themchucdanh()"
    >
      <i class="fa-light fa-circle-plus" matTooltip="Thêm mới chức danh"></i>
    </button>
  </div>
</div>
<p-table
  [value]="data"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [tableStyle]="{ width: '100%' }"
  [paginator]="true"
  [rows]="10"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 8%" class="text-black font-bold border">Loại QTCT</th>
      <th style="width: 10%" class="text-black font-bold border">
        Ngày hiệu lực
      </th>
      <th style="width: 10%" class="text-black font-bold border">Chức danh</th>
      <th style="width: 15%" class="text-black font-bold border">Phòng ban</th>
      <th style="width: 20%" class="text-black font-bold border">
        Văn phòng làm việc
      </th>
      <th style="width: 10%" class="text-black font-bold border">Ngày tạo</th>
      <th style="width: 10%" class="text-black font-bold border">
        Ngày cập nhật
      </th>
      <th style="width: 15%" class="text-black font-bold border">
        Thương hiệu xe
      </th>
      <th
        style="width: 7%"
        class="text-center"
        class="text-black font-bold border"
      >
        Thao tác
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-qtct let-columns="columns" let-i="rowIndex">
    <tr class="border-b border-gray-200">
      <td class="border">{{ qtct.type }}</td>
      <td class="border">{{ qtct.effectiveDate | date : "dd/MM/yyyy" }}</td>
      <td class="border">{{ qtct.position }}</td>
      <td class="border">{{ qtct.department }}</td>
      <td class="border">{{ qtct.office }}</td>
      <td class="border">{{ qtct.creationDate | date : "dd/MM/yyyy" }}</td>
      <td class="border">{{ qtct.updateDate | date : "dd/MM/yyyy" }}</td>
      <td class="border">{{ qtct.carBrand }}</td>
      <td
        [ngClass]="{
          'text-blue-600': qtct.status != null && qtct.status != 0
        }"
        style="width: 7%"
        class="text-center border"
      >
        <span class="p-column-title">Thao tác</span>
        <div>
          <button type="button" class="mr-2" (click)="suachucdanh(qtct)">
            <i class="fa-light fa-pencil icon-size-5" matTooltip="Sửa"></i>
          </button>

          <button type="button" class="mr-2" (click)="delete(qtct)">
            <i class="fa-light fa-trash-can icon-size-5" matTooltip="Xóa"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
