<form
  id="rightForm"
  (ngSubmit)="rightForm.form.valid && onSaveAndClose()"
  #rightForm="ngForm"
  class="flex flex-col max-w-310 md:min-w-310 overflow-hidden max-h-[90vh]"
>
  <!-- Header -->
  <div
    class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
  >
    <div class="text-lg font-medium head-modal">
      <span class="text-white">Cập nhật quá trình làm việc</span>
    </div>
    <button mat-icon-button [tabIndex]="-1" (click)="onClose()">
      <i class="fa-light fa-xmark icon-size-5 text-white text-2xl"></i>
    </button>
  </div>

  <div
    #mainns
    class="flex flex-col flex-auto h-modal max-h-130 overflow-y-auto"
  >
    <div class="mb-5">
      <h2 class="text-blue-500 border-b text-lg ml-2">Thông tin cơ bản</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 w-full min-w-0 px-4">
        <div class="flex flex-col justify-center">
          <div class="mat-field-label">
            Ngày hiệu lực<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-calendar
            name="ngayHieuLuc"
            [showIcon]="true"
            [showOnFocus]="false"
            class="!w-full"
            [(ngModel)]="ngayHieuLuc"
            [required]="true"
            #ngayHL="ngModel"
          />
          <div *ngIf="ngayHL.errors && ngayHL.touched" class="text-red-500">
            {{ getMessage(ngayHL.errors) }}
          </div>
        </div>
        <div class="flex flex-col justify-center">
          <div class="mat-field-label">
            Loại QTCT<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listLoaiQTCT"
            optionLabel="tenLoaiQtct"
            optionValue="id"
            name="loaiQtct"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct?.loaiQtct.id"
            [required]="true"
            placeholder="&nbsp;"
            #loaiQtct="ngModel"
          >
          </p-dropdown>
          <div *ngIf="loaiQtct.errors && loaiQtct.touched" class="text-red-500">
            {{ getMessage(loaiQtct.errors) }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-blue-500 border-b text-lg ml-2">Thông tin chi tiết</h2>
      <div class="grid grid-cols-2 gap-4 px-4">
        <div class="">
          <div class="mat-field-label">
            Phòng ban<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            optionLabel="departmentName"
            optionValue="id"
            name="phongBan"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [options]="listPhongBan"
            [(ngModel)]="qtct.department.id"
            [required]="true"
            placeholder="&nbsp;"
            #phongBan="ngModel"
          >
          </p-dropdown>
          <div *ngIf="phongBan.errors && phongBan.touched" class="text-red-500">
            {{ getMessage(phongBan.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Chức danh<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listChucdanh"
            optionLabel="tenchucanh"
            optionValue="id"
            name="chucDanh"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.chucdanh.id"
            [required]="true"
            placeholder="&nbsp;"
            #chucDanh="ngModel"
          >
          </p-dropdown>
          <div *ngIf="chucDanh.errors && chucDanh.touched" class="text-red-500">
            {{ getMessage(chucDanh.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Thành phần nhân sự<span class="font-bold text-red-500 text-lg"
              >*</span
            >
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listThanhPhanNS"
            optionLabel="tenThanhphannhansu"
            optionValue="id"
            name="thanhPhanNS"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.thanhphannhansu.id"
            [required]="true"
            placeholder="&nbsp;"
            #tpNhanSu="ngModel"
          >
          </p-dropdown>
          <div *ngIf="tpNhanSu.errors && tpNhanSu.touched" class="text-red-500">
            {{ getMessage(tpNhanSu.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Cấp độ nhân sự<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listCapDoNS"
            optionLabel="tenCapdonhansu"
            optionValue="id"
            name="capDoNS"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.capdonhansu.id"
            [required]="true"
            placeholder="&nbsp;"
            #capDoNS="ngModel"
          >
          </p-dropdown>
          <div *ngIf="capDoNS.errors && capDoNS.touched" class="text-red-500">
            {{ getMessage(capDoNS.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Pháp nhân<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listPhapNhan"
            optionLabel="tenPhapNhan"
            optionValue="id"
            name="phapNhan"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.phapnhan.id"
            [required]="true"
            placeholder="&nbsp;"
            #phapNhan="ngModel"
          >
          </p-dropdown>
          <div *ngIf="phapNhan.errors && phapNhan.touched" class="text-red-500">
            {{ getMessage(phapNhan.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Dòng xe<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listDongXe"
            optionLabel="tendongxe"
            optionValue="id"
            name="dongXe"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.dongxe.id"
            [required]="true"
            placeholder="&nbsp;"
            #dongXe="ngModel"
          >
          </p-dropdown>
          <div *ngIf="dongXe.errors && dongXe.touched" class="text-red-500">
            {{ getMessage(dongXe.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Loại lao động<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listLoaiLaoDong"
            optionLabel="tenLoailaodong"
            optionValue="id"
            name="loaiLd"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.loailaodong.id"
            [required]="true"
            placeholder="&nbsp;"
            #loaiLd="ngModel"
          >
          </p-dropdown>
          <div *ngIf="loaiLd.errors && loaiLd.touched" class="text-red-500">
            {{ getMessage(loaiLd.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Nghiệp vụ<span class="font-bold text-red-500 text-lg">*</span>
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listNghiepVu"
            optionLabel="tenNghiepvu"
            optionValue="id"
            name="nghiepVu"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.nghiepvu.id"
            [required]="true"
            placeholder="&nbsp;"
            #nghiepVu="ngModel"
          >
          </p-dropdown>
          <div *ngIf="nghiepVu.errors && nghiepVu.touched" class="text-red-500">
            {{ getMessage(nghiepVu.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">
            Văn phòng làm việc<span class="font-bold text-red-500 text-lg"
              >*</span
            >
          </div>
          <p-dropdown
            panelStyleClass="max-w-full"
            [style]="{ width: '100%' }"
            [options]="listVPLamViec"
            optionLabel="tenVanphonglamviec"
            optionValue="id"
            name="vpLamViec"
            appendTo="body"
            [filter]="true"
            filterBy="name"
            [(ngModel)]="qtct.vanphonglamviec.id"
            [required]="true"
            placeholder="&nbsp;"
            #vpLamViec="ngModel"
          >
          </p-dropdown>
          <div
            *ngIf="vpLamViec.errors && vpLamViec.touched"
            class="text-red-500"
          >
            {{ getMessage(vpLamViec.errors) }}
          </div>
        </div>

        <div class="">
          <div class="mat-field-label">Ghi chú</div>
          <textarea
            rows="3"
            class="w-full border rounded-md p-2 indent-1"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="qtct.ghiChu"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="h-toolbar flex justify-end">
    <button
      type="submit"
      class="mx-1 border bg-slate-200 hover:bg-slate-300 px-3 py-2 mr-8 rounded-md"
      mat-flat-button
    >
      <i class="fa-light fa-check icon-size-5 text-green-500"></i>
      <span class="ml-2">Lưu</span>
    </button>
  </div>
</form>
