<div class="h-full absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-gray-100 w-full" cdkScrollable>
    <div class="sm:p-2 shadow overflow-x-hidden overflow-y-auto bg-gray-100 w-full">
        <div class="w-full px-4 pb-4 flex border-1 border-gray-300 rounded bg-white">
            <app-daotaodaihan [nsInfo]="nsInfo"></app-daotaodaihan>
        </div>
        <div class="w-full px-4 pb-4 flex border-1 border-gray-300 rounded bg-white mt-2">
            <app-boiduongnganhan [nsInfo]="nsInfo"></app-boiduongnganhan>
        </div>
        <div class="w-full px-4 pb-4 flex border-1 border-gray-300 rounded bg-white mt-2">
            <app-nuocngoai [nsInfo]="nsInfo"></app-nuocngoai>
        </div>
    </div>
</div>