<div class="flex justify-between items-center">
    <p-divider align="left">
        <div class="inline-flex align-items-center justify-between">
            <b class="text-blue-600">Bồi dưỡng ngắn hạn</b>
        </div>
    </p-divider>    
    <div class="flex">
        <button [disabled]="!nhansu" style="margin-right: 20px;" color="primary" class="mx-1"
            mat-flat-button>
            <i class="fa-regular fa-file-excel" matTooltip="Xuất excel"></i>
        </button>
        <button [disabled]="!nhansu" style="margin-right: 20px;" color="primary" class="mx-1"
            mat-flat-button (click)="themBoiduong()"><i class="fa-light fa-circle-plus"
                matTooltip="Thêm mới"></i>
        </button>
    </div>
</div>

<p-table [value]="boiduongList" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{ width: '100%', height: '300px'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 10%" class="text-center">Thời gian</th>
            <th style="width: 10%" class="text-center">Nơi đào tạo</th>
            <th style="width: 10%" class="text-center">Nội dung đào tạo</th>
            <th style="width: 10%" class="text-center">Hình thức đào tạo</th>
            <th style="width: 10%" class="text-center">Xếp loại</th>
            <th style="width: 10%" class="text-center">Ngày CC hết hạn</th>            
            <th style="width: 5%" class="text-center">Số giờ ĐT</th>            
            <th style="width: 10%" class="text-center">Số QĐ</th>                        
            <th style="width: 5%" class="text-center">File văn bằng chứng chỉ</th>
            <th style="width: 10%" class="text-center">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-boiduong let-i="rowIndex">
        <tr class="border-b border-gray-200">
            <td class="text-left">
                <span class="p-column-title"></span>{{boiduong.thoigiandtao}}
            </td>
            <td class="text-left">
                <span class="p-column-title"></span>{{boiduong.noidaotao}}
            </td>
            <td class="text-left">
                <span class="p-column-title"></span>{{boiduong.noidungdaotao}}
            </td>
            <td class="text-center">
                <span class="p-column-title"></span>{{boiduong.hinhthucDt}}
            </td>            
            <td class="text-left">
                <span class="p-column-title"></span>{{boiduong.xeploai}}
            </td>
            <td class="text-center">
                <span class="p-column-title"></span>{{boiduong.ccNgayHH}}
            </td>
            <td class="text-center">                
                <span class="p-column-title"></span>{{boiduong.sogiothucte}}
            </td>
            <td class="text-center">                
                <span class="p-column-title"></span>{{boiduong.soQd}} <br/>
                <span *ngIf="boiduong.ngayQd != null">Ngày ký: {{ boiduong.ngayQd }}</span>
            </td>            
            <td>
                <span class="p-column-title">File văn bằng</span>
            </td>
            
            <td class="text-center">
                <span class="p-column-title">Thao tác</span>
                <div>
                    <button type="button" class="mr-2" (click)="updateBoiduong(boiduong)">
                        <i class="fa-light fa-pencil icon-size-5" matTooltip="Sửa"></i>
                    </button>

                    <button type="button" class="mr-2" (click)="deleteBoiduong(boiduong)">
                        <i class="fa-light fa-trash-can icon-size-5" matTooltip="Xóa"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
