<div class="flex justify-between items-center">
    <p-divider align="left">
        <div class="inline-flex align-items-center justify-between">
            <b class="text-blue-600">Quá trình đoàn thể</b>
        </div>
    </p-divider>
    <div class="flex">
        <button [disabled]="!nhansu" style="margin-right: 20px;" color="primary" class="mx-1" mat-flat-button
            (click)="xuatExcel()">
            <i class="fa-regular fa-file-excel" matTooltip="Xuất excel"></i>
        </button>
        <button [disabled]="!nhansu" style="margin-right: 20px;" color="primary" class="mx-1" mat-flat-button
            (click)="addDoanthe()">
            <i class="fa-light fa-circle-plus" matTooltip="Thêm mới"></i>
        </button>
    </div>
</div>
<p-table [value]="listDsChucVuDT" [tableStyle]="{ width: '100%'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th class="text-center" style="width: 10%">Ngày hiệu lực</th>
            <th class="text-center" style="width: 10%">Đến ngày</th>
            <th class="text-center" style="width: 35%">Chức vụ đoàn thể</th>
            <th class="text-center" style="width: 10%">Loại đoàn thể</th>
            <th class="text-center" style="width: 8%">Chuyên trách</th>
            <th class="text-center" style="width: 20%">Quyết định</th>
            <th class="text-center" style="width: 7%">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns" let-i="rowIndex">
        <tr class="border-b border-gray-200">
            <td style="width: 10%" class="break-all text-center">
                {{ product.ngayBdau | date:'dd/MM/yyyy' }}
            </td>
            <td style="width: 10%" class="break-all text-center">
                {{ product.ngayKthuc | date:'dd/MM/yyyy'}}
            </td>
            <td style="width: 35%">
                {{ product.cvuDthe?.name }}
            </td>
            <!-- <td style="width: 5%"><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td> -->
            <td style="width: 10%">
                {{ product.cvuDthe?.ldoanthe?.name }}
            </td>
            <td style="width: 8%;">
                <div style="width: 100%;text-align: center">
                    {{ product.chuyentrach ? 'X' : '' }}
                </div>
            </td>
            <td style="width: 20%">
                <div *ngIf="product.nsQdndung" class="flex flex-row" style="width: 100%;">
                    <div class="flex flex-col justify-between" style="width: 100%;">
                        {{ product?.nsQdndung?.soQd }}
                        <p class="text-sm">Ngày ký: {{ product.nsQdndung.ngayKy | date:'dd/MM/yyyy' }}</p>
                    </div>
                    <div *ngIf="product.nsQdndung.fileName" class="flex flex-row justify-between">
                        <button type="button" class="mr-5" (click)="viewFileQD(product.nsQdndung.qdinhId)">
                            <i class="fa-light fa-eye icon-size-5" matTooltip="Xem"></i>
                        </button>
                        <button type="button" class="mr-2" (click)="downloadFileQD(product.nsQdndung.qdinhId)">
                            <i class="fa-light fa-file-arrow-down icon-size-5" matTooltip="Download"></i>
                        </button>
                    </div>
                </div>
            </td>
            <td style="width: 7%" class="text-center">
                <div class="flex flex-row justify-between pl-3 pr-3" style="width: 100%;">
                    <button type="button" class="mr-2" (click)="update(product)">
                        <i class="fa-light fa-pencil icon-size-5" matTooltip="Sửa"></i>
                    </button>

                    <button type="button" (click)="delete(product.nsCvudtheId)">
                        <i class="fa-light fa-trash-can icon-size-5" matTooltip="Xóa"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>