<div class="flex flex-col max-h-screen -m-6 overflow-hidden">
    <div class="flex items-center justify-between py-2 pl-6 pr-3 flex-0 sm:pr-5 sm:pl-8 bg-primary" mat-dialog-title>
        <div class="text-lg font-medium text-white head-modal">
            Chọn nhân sự mới thay đổi VTCD
        </div>
        <button mat-icon-button mat-dialog-close [tabIndex]="-1" (click)="close()">
            <i class="fa-light fa-xmark icon-size-5"></i>
        </button>
    </div>

    <div class="flex flex-col px-4 pt-4 w-full" mat-dialog-content>
        <div style="max-height: 500px;" class="w-full">
            <form  id="nsThaydoiVtcdForm">
                <div class="flex items-center w-full">
                    <mat-label>Đơn vị: </mat-label>
                    <mat-label><b>{{tenDonvi}}</b></mat-label>
                    <button class="mx-1 -mr-2" color="primary" mat-flat-button (click)="onChonDonvi()">
                        <span>Chọn đơn vị</span>
                    </button>                
                </div>
    
                <div class="flex items-center w-full">    
                    <label>Chọn khoảng thời gian thay đổi VTCD:</label>
                    <mat-form-field style="width:150px; margin-left: 10px;">                        
                        <input placeholder="Từ ngày" matInput [matDatepicker]="tuNgay" name="tuNgay" [(ngModel)]="fDate" (dateInput)="onChangeTuNgay($event)"/>
                        <mat-datepicker-toggle matSuffix [for]="tuNgay"></mat-datepicker-toggle>
                        <mat-datepicker #tuNgay></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field style="width:150px; margin-left: 10px;">                        
                        <input placeholder="Đến ngày" matInput [matDatepicker]="denNgay" name="denNgay" [(ngModel)]="tDate" (dateInput)="onChangeDenNgay($event)"/>
                        <mat-datepicker-toggle matSuffix [for]="denNgay"></mat-datepicker-toggle>
                        <mat-datepicker #denNgay></mat-datepicker>
                    </mat-form-field>
                    <i (click)="onChangeDate()" class="fa-light fa-sync" width="32" height="32" style="margin-left: 10px;"></i>                    
                </div>               

                <div class="flex w-full">
                    <div #mainxeoto class="border-1 w-panel border-gray-300 rounded bg-white p-2 w-full">
                        <p-table (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [value]="nsList" class="w-full" responsiveLayout="stack" [scrollable]="true" scrollHeight="85vh" [tableStyle]="{height: '150px', overflow: 'auto'}">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:5%" class="text-center">Chọn</th>                                    
                                    <th style="width:12%" class="text-left">Số hiệu</th>
                                    <th style="width:18%" class="text-left">Họ tên</th>
                                    <th style="width:20%" class="text-left">Phòng ban</th>
                                    <th style="width:20%" class="text-left">Chức vụ/ Chức danh cũ</th>
                                    <th style="width:20%" class="text-left">Chức vụ/ Chức danh mới</th>
                                    <th style="width:10%" class="text-left">Ngày hiệu lực</th>                            
                                </tr>                
                            </ng-template>
                            <ng-template pTemplate="body" let-ns let-i="rowIndex">
                                <tr class="border-b border-gray-200">
                                    <td style="width:5%" class="text-center">
                                        <p-tableCheckbox [value]="ns" selectionMode="multiple"></p-tableCheckbox>
                                    </td>                                    
                                    <td style="width:10%" class="text-left">{{ns.sohieu}}</td>
                                    <td style="width:15%" class="text-left">{{ns.tenkhaisinh}}</td>
                                    <td style="width:15%" class="text-left">{{ns.tenphong}}</td>
                                    <td style="width:20%" class="text-left">{{ns.tento}}</td>
                                    <td style="width:20%" class="text-left">{{ns.tento1}}</td>
                                    <td style="width:15%" class="text-left">{{ns.strNgaybonhiem}}</td>
                                </tr>
                            </ng-template>
                        </p-table>  
                    </div>        
                </div>
                
            </form>
        </div>
    </div>

    <div mat-dialog-actions [align]="'end'" class="py-2 pr-6">        
        <div class="flex items-center w-full">
            <button color="primary" mat-flat-button (click)="onChonNS()">
                <span>Chọn nhân sự</span>
            </button>                
        </div>        
    </div>
</div>
