<div class="h-full absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-gray-100 w-full" cdkScrollable>
    <div class="sm:p-2 overflow-x-hidden overflow-y-auto bg-gray-100 w-full">
        <div class="w-full px-4 pb-4 flex flex-col border-1 border-gray-300 rounded bg-white">
            <div class="flex justify-between items-center">
                <p-divider align="left">
                    <div class="inline-flex align-items-center justify-between">
                        <b class="text-blue-600">Quá trình tham gia loại hình ngành nghề SXKD(ngành nghề kinh tế)</b>
                    </div>
                </p-divider>
                <div class="flex items-center">
                    <button [disabled]="!nhansu" style="margin-right: 20px;" color="primary" class="mx-1" mat-flat-button  (click)="xuatExcel()">
                        <i class="fa-regular fa-file-excel" matTooltip="Xuất excel"></i>
                    </button>
                    <button [disabled]="!nhansu" style="margin-right: 20px;" color="primary" class="mx-1" mat-flat-button  (click)="addNew()">
                        <i class="fa-light fa-circle-plus" matTooltip="Thêm mới"></i>
                    </button>
                </div>
            </div>
            <p-table [value]="listNsNganhkte" [tableStyle]="{ width: '100%'}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="text-center" style="width: 15%">Từ ngày</th>
                        <th class="text-center" style="width: 15%">Đến ngày</th>
                        <th class="text-center" style="width: 30%">Ngành nghề SXKD</th>
                        <th class="text-center" style="width: 33%">Ghi chú</th>
                        <th class="text-center" style="width: 7%" class="text-center">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns" let-i="rowIndex">
                    <tr class="border-b border-gray-200">
                        <td class="text-center" style="width: 15%" >
                            {{ product.ngayBdau | date:'dd/MM/yyyy' }}
                        </td>
                        <td class="text-center" style="width: 15%" >
                            {{ product.ngayKthuc | date:'dd/MM/yyyy'}}
                        </td>
                        <td style="width: 30%">
                            {{ product.nnKte?.name}}
                        </td>
                        <!-- <td style="width: 5%"><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td> -->
                        <td style="width: 33%">
                            {{ product.ghichu }}
                        </td>
                        <td style="width: 7%" class="text-center">
                            <div class="flex flex-row justify-between pl-3 pr-3">
                                <button type="button" class="mr-2" (click)="update(product)">
                                    <i class="fa-light fa-pencil icon-size-5" matTooltip="Sửa"></i>
                                </button>

                                <button type="button"  (click)="delete(product.id)">
                                    <i class="fa-light fa-trash-can icon-size-5" matTooltip="Xóa"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>