<div
  [id]="'parent' + formName"
  class="grid grid-cols-1 sm:grid-cols-2 gap-y-3 gap-x-8 w-full min-w-0"
>
  <mat-form-field [id]="'soqd' + formName">
    <mat-label class="">Số quyết định </mat-label>
    <input
      matInput
      [readonly]="isDisableForm"
      placeholder=""
      [name]="'soQD' + formName"
      [(ngModel)]="quyetdinh.soQd"
      (ngModelChange)="quyetdinhChange.emit(quyetdinh)"
      (change)="openSoQDbyTxt($event)"
      [required]="fieldRequired"
    />
    <button
      [disabled]="isDisableForm"
      type="button"
      class="mx-1 -mr-2"
      color="primary"
      mat-flat-button
      (click)="onChonQuyetDinh()"
    >
      <span class="">Chọn</span>
    </button>
  </mat-form-field>
  <mat-form-field [id]="'ngayky' + formName">
    <mat-label>Ngày ký </mat-label>
    <input
      matInput
      [readonly]="isDisableForm"
      [matDatepicker]="ngayKy"
      [name]="'ngayKy' + formName"
      [(ngModel)]="quyetdinh.ngayKy"
      (ngModelChange)="quyetdinhChange.emit(quyetdinh)"
      (dateChange)="dateChange($event)"
      [required]="fieldRequired"
    />
    <mat-datepicker-toggle matSuffix [for]="ngayKy"></mat-datepicker-toggle>
    <mat-datepicker [disabled]="isDisableForm" #ngayKy></mat-datepicker>
  </mat-form-field>

  <mat-form-field [id]="'nguoiky' + formName">
    <mat-label>Người ký</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="quyetdinh.nguoiky"
      [readonly]="isDisableForm"
      [matAutocomplete]="autoNguoiKy"
      [name]="'nguoiky' + formName"
      (ngModelChange)="onChangeNgKy($event)"
    />
    <mat-autocomplete
      #autoNguoiKy="matAutocomplete"
      (optionSelected)="onSelectNgKy($event)"
      [displayWith]="displayFn"
      [disableRipple]="isDisableForm"
    >
      <mat-option *ngFor="let option of filterNgky" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field [id]="'chucvu' + formName">
    <mat-label>Chức vụ</mat-label>
    <input
      matInput
      [name]="'chucvuKy' + formName"
      type="text"
      [(ngModel)]="quyetdinh.chucvuKy"
      [matAutocomplete]="autoCvuky"
      [readonly]="isDisableForm"
      (ngModelChange)="onChangeCvu($event)"
    />
    <mat-autocomplete
      #autoCvuky="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onSelectCvu($event)"
      [disableRipple]="isDisableForm"
    >
      <mat-option *ngFor="let cvu of filterCvuky" [value]="cvu">
        {{ cvu.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field
    [id]="'noidung' + formName"
    appearance="fill"
    class="flex flex-col justify-center sm:col-span-2"
  >
    <mat-label class="sm:w-1/4 leading-none -mr-1">Nội dung </mat-label>
    <input
      [name]="'noiDung' + formName"
      [readonly]="isDisableForm"
      matInput
      placeholder=""
      [(ngModel)]="quyetdinh.noiDung"
      (ngModelChange)="quyetdinhChange.emit(quyetdinh)"
    />
  </mat-form-field>

  <div
    [id]="'fileUpload' + formName"
    class="flex flex-col justify-center sm:col-span-2"
  >
    <div class="mat-field-label">File quyết định:</div>
    <p-fileUpload
      #fileForm1
      [disabled]="isDisableForm"
      accept="image/*,.doc,.docx,.pdf,.xls,.xlsx"
      class="w-full text-base"
      chooseLabel="Chọn"
      cancelLabel="Hủy"
      [customUpload]="true"
      [maxFileSize]="40960000"
      invalidFileSizeMessageSummary=""
      invalidFileSizeMessageDetail="File Size không được quá 40 MB"
      invalidFileTypeMessageSummary="File không đúng định dạng"
      invalidFileTypeMessageDetail="({0})"
      (onClear)="deleteAllFile()"
      (onSelect)="myUploader($event, fileForm1)"
    >
      <ng-template pTemplate="content">
        <div *ngIf="loadingFile" class="flex flex-row justify-center">
          <mat-spinner class="loadingFileQD"> </mat-spinner>
        </div>

        <div
          *ngIf="
            quyetdinh.fileAttach &&
            (insertFile == null || (insertFile && insertFile.length == 0))
          "
          class="flex flex-row w-full"
        >
          <div class="flex-auto">
            <div
              class="mat-field-label truncate max-w-140"
              [pTooltip]="quyetdinh.fileAttach.fileName"
            >
              {{ quyetdinh.fileAttach.fileName }}
            </div>
          </div>

          <div class="flex-none w-36 ml-2">
            <div class="mat-field-label">
              {{ quyetdinh.fileAttach.fileSize }}
              bytes
            </div>
          </div>

          <div class="flex w-40">
            <button
              pButton
              label=" "
              type="button"
              class="mr-2"
              (click)="viewFile(quyetdinh)"
            >
              <i class="fa-light fa-eye icon-size-5" matTooltip="Xem"></i>
            </button>

            <button
              pButton
              label=" "
              type="button"
              class="mr-2"
              (click)="download(quyetdinh)"
            >
              <i class="fa-light fa-download icon-size-5" matTooltip="Tải"></i>
            </button>

            <button
              pButton
              icon="pi pi-times"
              type="button"
              [disabled]="isDisableForm"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template let-file pTemplate="file">
        <div class="flex flex-row w-full">
          <div class="flex-auto">
            <div
              class="mat-field-label truncate max-w-140"
              [pTooltip]="file.name"
            >
              {{ file.name }}
            </div>
          </div>

          <div class="flex-none w-36">
            <div class="mat-field-label">{{ file.size }} bytes</div>
          </div>

          <div class="flex-none w-14">
            <!-- <p-button icon="pi pi-times" (click)></p-button> -->
            <button
              pButton
              icon="pi pi-times"
              type="button"
              [disabled]="isDisableForm"
              (click)="removeFile(file, fileForm1, $event)"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>
